html,
body{
    height: 100%
}

h1,
h2,
.nav > li > a {
    font-family: Raleway;
    font-weight: bold;
    
}

.activate{
    color: rgba(0,0,0,0.3)
}

.btn-danger{
    background-color: #ff6666 !important;
    box-shadow: 2px 4px 3px black;
}

.black{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 99999 !important;
}

/**** HOMEPAGE ****/

/* Navigation bar */
.navbar{
    margin-bottom: 1%;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    z-index: 999999;
    
}

.navbar-fixed-bottom,
.navbar-default{
    padding-top: 4px;
    padding-bottom: 0px;
}

.top-level {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    padding:0;
    margin: 0;
}

.top-level > li {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 3%;
}

.top-level li:after {
  content: "";
  border-bottom: solid 3px;
  display: block;
  padding: 1%;
  margin: 0% 10% 2%;
  border-radius: 10px;
  color: white;
}

.top-level > li:hover {
    background-color: rgba(0,0,0,0.3);
}

.top-level > li > a{
    color: white !important;
    font-weight: bold;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: lightgray !important;
}

.navbar-default .navbar-toggle:focus{
    background-color: rgba(0,0,0,0.3) !important;
}

.navbar-default .navbar-toggle:hover{
    background-color: rgba(0,0,0,0.3) !important;
}

/* Scroll button */
.btn-wrapper{
    position: relative;
    text-align: center;
    top: -25%;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

.btn-container{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a{
    cursor: pointer;
    cursor: hand;
}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:focus,
button:focus{
    outline: none !important;
}

/* Scroll button */
.scroll-btn{
    color: white;
    font-size: 300%;
    border-color: white !important;
    z-index: 99;
    margin-bottom: 1%;
    text-shadow: 2px 4px 3px black;
    box-shadow: 2px 4px 3px black;
    border: 4px solid white;    
    border-radius: 100%;
}
 
/* Image carousel */

#myCarousel{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.carousel,
.item,
.active{
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
}


.carousel-caption {
    top: 50%;
}

.btn:active{
    outline: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fixed{
    position: fixed; 
    top: 0; 
    z-index: 1;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-indicators li{
    font-weight: bold;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/* Main page */
.jumbotron{
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Meet the Team page */
.row{
    height: 100%;
    width: 100%;
    margin: none;
    overflow: hidden
}
.profile-container{
    height: 100%;
    margin: 0;
    padding: 0;
    border: solid 2px black;
    position: relative;
    text-align: center;
    overflow:hidden
}

.blue:hover{
    background-color: rgba(0, 0, 255, .3);
}

.green:hover{
    background-color: rgba(0, 255, 0, .3);
}

.red:hover{
    background-color: rgba(255, 0, 0, .3);
}

.purple:hover{
    background-color: rgba(100, 0, 255, .3);
}


.rotate{
    display: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 5%;
}

.profile-container:hover .rotate{
    display: block;
    font-size:calc(2em + 4vw); !important;
}

.profile{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
}

#caitlin{
    background-image: url("images/profile/donatello.png");
}

#sarah{
    background-image: url("images/profile/raphael.png");
}

#alexa{
    background-image: url("images/profile/michelangelo.png");
}

#anna{
    background-image: url("images/profile/leonardo.png");

}

img{
    width: 20% !important;
}

.btn-prev{
    float: left !important;
}

/*Media queries for responsive design*/
/* For desktop: */
/*.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;} */

@media only screen and (max-width 900px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

#profile-bin{
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
    position: absolute;
    display: none;
}
