html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
    width: 100%;
    height: auto;
    }

.anchor{
    margin-bottom: 6%;
    margin-right: 0;
}

.modals{
    margin: 0;
    padding: 0;
}

#landing{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header-title{
    margin-top: 15%;
    color: white; 
    font-family:'Walter Turncoat',cursive; 
    font-size: calc(1em + .5vh)
}

.navbar-toggle{
    margin-top: 1%;
}

.scroll-btn{
    color: white;
    font-size: 250%;
    border-color: white !important;
    margin-bottom: 1%;
    text-shadow: 2px 4px 3px black;
    box-shadow: 2px 4px 3px black;
    border: 4px solid white;    
    border-radius: 100%;
}


.btn-wrapper{
    position: relative;
    text-align: center;
    top: 10%;
    margin-top: 10%;
    padding: 0;
    padding: 0;
}

.btn-container{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,
h2,
.nav > li > a {
    font-family: Raleway;
}

.container1 {
    height: 100%;
}

.activate{
    color: rgba(0,0,0,0.7)
}

/**** MODALS *****/
.modal-dialog{
    height: 90%;
}

.modal-content{
    height: 100%;
}

.modal-header{
    position: relative;
}

.modal-body{
    position: relative;
    height: 80%;
}

.modal-footer{
    position: relative;
    opacity: 1 !important;
    background-color: white !important;
}


/**** HOMEPAGE ****/

/* Navigation bar */
.navbar{
    margin: 0;
}

.navbar-default{
    background-color: transparent;
    border: none;
    padding-top: 4px;
    padding-bottom: 0px;
}

.navbar-fixed-top{
    background-color: dimgray;
}

.top-level {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    width: 100%;
    text-align: center;
    padding:0;
    margin: 0;
}

.top-level > li {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 3%;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: rgba(0,0,0,0.6) !important;
}

.top-level > li > a{
    color: white !important;
}

/*
.dropdown-menu > li > a {
    background-color: cadetblue;
    color: white;
}

.dropdown-menu > li > a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-menu{
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
}

.dropdown-menu {
    padding: 0;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}
*/

a{
    cursor: pointer;
    cursor: hand;
}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:focus,
button:focus{
    outline: none !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: lightgray !important;
}

.navbar-default .navbar-toggle:focus{
    background-color: rgba(0,0,0,0.3) !important;
}

.navbar-default .navbar-toggle:hover{
    background-color: rgba(0,0,0,0.3) !important;
}

/* Scroll button */
 
/* Image carousel */
/*
.carousel,
.item,
.active{
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
}


.carousel-caption {
    top: 50%;
}

.btn:active{
    outline: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fixed{
    position: fixed; 
    top: 0; 
    z-index: 1;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
/*@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* About page */
.section2{
    height: 75%;
    margin: 0 !important;
    padding: 0 !important;
}

.jumbotron{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0;
}

/* Meet the Team page */
#meet{
    margin: 0;
    padding: 0;
    background-color: gray;
}

.title-wrapper{
    margin-bottom: 2%;
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.title{
    width: 100%;
    margin: 0 auto;
}

.section3{
    height: 50%;
}

.row{
    height: 100%;
}

.outer{
    height: 50%;
    text-align: center;
    margin-top: 2%;
}

.profile-container{
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin 0; 
    padding: 0;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dialog{
    position: absolute;
    bottom: -100%;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.profile-container:hover .dialog{
    bottom: 0;
}

.profile{
    position: relative;
    background-size:cover;
    height: 100%;
   /* -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; */
    text-align: center;
    overflow: hidden;
}

/*.profile-container:hover .appear{
    display: block;
} */

/*.profile:hover {
    -webkit-filter: blur(2px);
} */

#caitlin{
    background-image: url("images/profile/cait.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sarah{
    background-image: url("images/profile/raphael.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#alexa{
    background-image: url("images/profile/michelangelo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#anna{
    background-image: url("images/profile/donatello.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-prev{
    float: left !important;
}

@media only screen and (max-width: 1075px) {

  [class*="col-"]{
      margin-bottom: 1%;
  }
    
    .title-wrapper{
        margin-top: 10%;
    }

}

@media only screen and (max-width: 989px) {
    .outer{
        height: 50%;
    }
    .section3{
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .title{
        margin-top: 15%;
    }
    
    .outer{
        height: 40%;
    }
    
}

@media only screen and (max-width: 377px) {
    .title{
        margin-top: 30%;
    }
}

@media only screen and (max-width: 350px) {
    .outer{
        height: 30%;
    }
}

@media only screen and (max-height: 716px) {
    .outer{
        height: 75%;
    }
}

@media only screen and (max-height: 400px) {
    .outer{
        height: 100%;
    }
}


@media only screen and (max-width: 700px){
    .scroll-btn{
        font-size: 100%;
    }
}

@media only screen and (max-height: 350px){
    .btn-wrapper{
        display: none;
    }
}


@media only screen and (max-width: 1050px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}