html,
body{
    height: 100%
}

h1,
h2,
.nav > li > a {
    font-family: Raleway;
}

.activate{
    color: rgba(0,0,0,0.3)
}

.btn-danger{
    background-color: #ff6666 !important;
    box-shadow: 2px 4px 3px black;
}

img {
  width: 600px;
  height: 450px;
  background: url(images/loading.gif) 50% no-repeat;
  border: 1px solid black;
  border-radius: 5px;
}

/**** HOMEPAGE ****/

/* Navigation bar */
.navbar{
    margin: 0;
}

.navbar-fixed-top,
.navbar-default{
    background-color: cadetblue;
    border-bottom: none;
    padding-top: 4px;
    padding-bottom: 0px;
}

.top-level {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    padding:0;
    margin: 0;
}

.top-level > li {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3%;
}

.top-level > li:hover {
    background-color: rgba(0,0,0,0.3);
}

.top-level > li > a{
    color: white !important;
}

.dropdown-menu > li > a {
    background-color: cadetblue;
    color: white;
}

.dropdown-menu > li > a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-menu{
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
}

.dropdown-menu {
    padding: 0;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

/* Scroll button */
.btn-wrapper{
    position: relative;
    text-align: center;
    top: -25%;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

.btn-container{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:focus,
button:focus{
    outline: none !important;
}

.scroll-btn{
    color: white;
    font-size: 300%;
    border-color: white !important;
    z-index: 99;
    margin-bottom: 1%;
    text-shadow: 2px 4px 3px black;
    box-shadow: 2px 4px 3px black;
    border: 4px solid white;    
    border-radius: 100%;
}
 
/* Image carousel */
.carousel,
.item,
.active{
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
}


.carousel-caption {
    top: 50%;
}

.btn:active{
    outline: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fixed{
    position: fixed; 
    top: 0; 

    z-index: 1;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* Main page */
.jumbotron{
    height: 2000px;
    background-size: cover;
}
